body 
  {
    text-align: center;
  }
ul 
  {
    margin: 0;
    padding: 0;
  }
  .header {
    background-color: #05386B;
    padding: 40px 40px;
    color: white;
    text-align: center;
  }
  ul li {
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    font-size: 18px;
    text-align: left;
  }
  .butt{
    border: none;
    cursor: pointer;
    padding:2px;
    margin-left: 10px;
    width: 100px;
    border-radius: 5px;
    float: right;
    color: white;
    font-weight: 500;
    background-color: #05386B;
  }
  .butt1{
    border: none;
    cursor: pointer;
    padding: 2px;
    margin-left: 10px;
    width: 100px;
    border-radius: 5px;
    float: right;
    color: white;
    font-weight: 500;
    background-color: #05386B;
  }
  .btn:hover,.btn1:hover {
    background-color: #bbb;
  }  
  ul li:nth-child(even) {
    background-color:#5CBD95 ;
    border-bottom: 5px solid #05386B;  
 
 }
  ul li:nth-child(odd) {
    background-color:#5CBD95 ;
    border-bottom: 5px solid #05386B;  
    
  }
  .btn-outline-secondary{
    background-color: #5CBD95;
    color: white;
    font-weight: bold;
  }
  .heading{
    background-color: #05386B;
    padding: 1px;
    font-family: serif;
    color: white;
  }